
/**/
/**/
/**/
/*universal styling*/
html,body{
  max-width: 100%;
  width:100%;
  overflow-x:hidden;
}
body{
  background-image: url('../img/front.jpg');
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
  text-align: center;
  opacity: 0.65;

}
a,a:link,a:visited,a:active,a:hover{
  color:#fff;
  text-decoration: none;
}

/* front page stuff*/
#front-page-headline{
  font-size: 12vw;
  margin:0;
}
#front-page-headline.dock{
  margin:0;
  padding:0;
  font-size: 50px;
}

/* styling for front links section */
/* no styling on front link section for now*/
#front-link-section{}
#front-link-section.dock{}

.front-icon{
  height:100px;
  width:100px;
  background-size: cover;
  margin:10px;
}

a.front-link{
  display: inline-block;
}

.front-icon.dock{
  height:50px;
  width:50px;
}
.front-link.dock h3{
  display:none;
}



/* images for front links */
.front-link:hover{cursor:pointer;}
#github-link{background-image: url('../img/github.png');}
#portfolio-link{background-image: url('../img/portfolio.png');}
#resume-link{background-image: url('../img/resume.png');}
#contact-link{background-image: url('../img/contact.png');}
#resume-link:hover{background-image: url('../img/resume-hover.png');}
#portfolio-link:hover{background-image: url('../img/portfolio-hover.png');}
#github-link:hover{background-image: url('../img/github-hover.png');}
#contact-link:hover{background-image: url('../img/contact-hover.png');}

/**/
/**/
/**/
/*styling for portfolio and portfolio items*/
h2.portfolio-headline{
  font-size: 50px;
  padding-top:2.5vh;
  padding-bottom: 0;
  margin:0,0,0,0;
}
h3.portfolio-tagline{
  font-size: 35px;
  padding:0;
  margin:0;
}
.portfolio-link{
  background-color: rgba(0,0,0,0.75);
  max-width:500px;
  margin-left:auto;
  margin-right: auto;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.portfolio-link:hover{
  cursor:pointer;
  background-color: rgba(0,0,0,0.5);
}

.side-item{
  display:hidden;
  height:0;
  transform: translate(1500px,0px);
}

.side-item.show{
  display:block;
  transform:translate(0px,0px);
}


#contact-img{
  width:100px;
  padding-top:5vh;
}
.side-item.show #contact-img{width: 60vw;}
@media (max-width: 600px) {
  .side-item.show #contact-img{width: 80vw;}
}

.portfolio-item{
  background-color: rgba(0,0,0,0.75);
  max-width:500px;
  margin-left:auto;
  margin-right: auto;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
